<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.url == "/" %}
    {% assign document_title = site.title %}
  {% else %}
    {% capture document_title %}{{ page.title }} — {{ site.title }}{% endcapture %}
  {% endif %}
  {% assign document_description = page.excerpt | default: site.description | strip_html | strip_newlines %}
  <title>{{ document_title }}</title>
  <meta name="description" content="{{ document_description }}">
  <meta property="og:title" content="{{ document_title }}">
  <meta property="og:description" content="{{ document_description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
